{% extends 'admin.html.twig' %}

{% block body %}

  <h1>
    {% if editMode is defined %}
    Modifier un contenu
    {% else %}
    Création d'un contenu
    {% endif %}
  </h1>

  {% form_theme formContent 'bootstrap_4_layout.html.twig' %}

  {{ form_start(formContent, {'attr': {'id' : 'contentCreate'}} ) }}

  {{ form_row(formContent.title) }}
  {{ form_row(formContent.slug, {'attr': {'placeholder' : 'Ne rien ajouter ici'}}) }}
  {{ form_row(formContent.lessons) }}
  {{ form_row(formContent.content)}}




  <button type="submit" class="btn btn-success contentCreate" name="button">
    {% if editMode is defined %}
    Enregistrer
    {% else %}
    Créer le contenu
    {% endif %}</button>

    {{ form_end(formContent) }}

{% endblock %}
