{% extends 'admin.html.twig' %}

{% block body %}

    <h1>
        {%  if editMode is defined %}
            Modification du cours
        {% else %}
            Création d'un cours
        {% endif %}
    </h1>

    {% form_theme formLesson 'bootstrap_4_layout.html.twig' %}

    {{ form_start(formLesson) }}

    {{ form_row(formLesson.title, {'attr':{'placeholder':"Titre du cours"}}) }}

    {{ form_row(formLesson.formateurs) }}
    {{ form_row(formLesson.duration) }}
    {{ form_row(formLesson.contents) }}
    {{ form_row(formLesson.description) }}


    <button type="submit" class="btn btn-success" name="button">

        {%  if editMode is defined %}
            Modifier le cours
        {% else %}
            Créer le cours
        {% endif %}
    </button>

    {{ form_end(formLesson) }}

{% endblock %}
