{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
            Modifier un contenu
        {% else %}
            Création d'un contenu
        {% endif %}
    </h1>

    {% form_theme formContenu 'bootstrap_4_layout.html.twig' %}

    {{ form_start(formContenu) }}

    {{ form_row(formContenu.title, {'attr':{'placeholder':"Titre du contenu"}}) }}

    {{ form_row(formContenu.relCours) }}
    {{ form_row(formContenu.slug, {'attr':{'placeholder':"Slug"}})  }}

    {{ form_row(formContenu.content) }}


    <button type="submit" class="btn btn-success" name="button">
        {% if editMode %}
            Enregistrer
        {% else %}
            Créer le contenu
        {% endif %}</button>

    {{ form_end(formContenu) }}

{% endblock %}
