{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
            Modifier un cours
        {% else %}
            Création d'un cours
        {% endif %}
    </h1>



    {{ form_start(formLesson) }}

    {{ form_row(formLesson.title, {'attr':{'placeholder':"Titre du cours"}}) }}

    {{ form_row(formLesson.contents) }}

    {{ form_row(formLesson.teacher) }}
    {{ form_row(formLesson.duration) }}
    {{ form_row(formLesson.description) }}


    <button type="submit" class="btn btn-success" name="button">
        {% if editMode %}
            Enregistrer
        {% else %}
            Créer le cours
        {% endif %}</button>

    {{ form_end(formLesson) }}

{% endblock %}
