{% extends 'base.html.twig' %}

{% block body %}
<article class="cours mt-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('lesson_show', {'id':lesson.id}) }}">{{ lesson.title }}</a></li>
    <li class="breadcrumb-item active">{{ content.title }}</li>
  </ol>


  <div class="container mt-4">
    <h3>{{ content.title }}</h3>
    <div class="row justify-content-between mt-4">
      <div class="col-md-4 px-3">
        <div class="list-group">
          {% for rank in ranks %}
            <a href="{{  path('content_learn', {lesson_id:rank.lesson.id, content_id:rank.content.id, 'slug':rank.content.slug}) }}" class="list-group-item list-group-item-action">
              {{ rank.content.title }}
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="mb-4 col-md-8">
        {{ content.content | raw }}
      </div>
    </div>
  </div>

</article>

{% endblock %}
