{% extends 'base.html.twig' %}

{% block body %}

    <h1>
        {% if editMode %}
            Modifier un contenu
        {% else %}
            Création d'un contenu
        {% endif %}
    </h1>

    {{ form_start(formRank) }}

    {{   form_row(formRank.rank) }}
    {{   form_row(formRank.lesson) }}
    {{   form_row(formRank.content) }}

    <button type="submit" class="btn btn-success" name="button">
        Valider
    </button>

    {{ form_end(formRank) }}

{% endblock %}

