{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}E-learning Bleu Social{% endblock %}</title>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{ asset('web/js/custom.js') }}"></script>
  <link rel="stylesheet" href="{{ asset('web/css/bootstrap.css') }}"/>
  <link rel="stylesheet" href="{{ asset('web/css/bootstrap-grid.css') }}"/>
  <!--<script src="{{ asset( 'bundles/kmsfroalaeditor/froala_editor_2.9.3/js/froala_editor.min.js') }}"></script>-->

  {% block stylesheet %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">E-learning</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('lesson') }}">Tous les cours <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('user') }}">Tous les utilisateurs</a>
      </li>
      {% if not app.user %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('security_login') }}">Se connecter</a>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ path('security_logout') }}">Déconnexion</a>
        </li>
      {% endif %}
    </ul>
    <p class="text-white">
      {% if is_granted(['ROLE_ADMIN', 'ROLE_STAGIAIRE']) %}
        <small>Vous êtes connecté :</small><br>
        {{ app.user.firstname }} {{ app.user.lastname }}
      {% endif %}
    </p>
  </div>
</nav>
  <div class="container mt-4">
    {% block body %}{% endblock %}
  </div>
</body>
</html>
