{% extends 'base.html.twig' %}

{% block body %}
<article class="cours mt-5">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('courses_show', {'id':cours.id}) }}">{{ cours.titre }}</a></li>
    <li class="breadcrumb-item active">{{ content.title }}</li>
  </ol>
  <h3>{{ content.title }}</h3>

    <div class="section mb-4 p-2 col-md-8">
      {{ content.content }}

    </div>


</article>

{% endblock %}
