{% extends 'base.html.twig' %}

{% block body %}
<article class="cours mt-5">
  
  <h2>{{ cours.titre }}</h2>
  <h6>{{ cours.teachers }}</h6>
  <hr>
  <p>
    <strong>
      Description du cours
    </strong>
  </p>
  <p>
    {{ cours.description }}
  </p>
     {% for section in cours.sections %}
       <div class="section mb-4 p-2 bg-light">
         <p class="text-muted">Section {{ section.id }}</p>
         <h5 class="mt-0">{{ section.title }}</h5>
         <ul>
         {% for contenu in section.contenus %}
          <li>
            {{ contenu.title }}
          </li>
         {% endfor %}
         </ul>
       </div>
    {% endfor %}

</article>

{% endblock %}
