{% extends 'base.html.twig' %}

{% block body %}
<article class="cours mt-5">
  
  <h2>{{ cours.titre }}</h2>
  <h6>{{ cours.teachers }}</h6>
  <hr>
  <p>
    <strong>
      Description du cours
    </strong>
  </p>
  <p>
    {{ cours.description }}
  </p>
        <div class="section mb-4 p-2 bg-light">
          <ul>
        {% for relContent in cours.relContents %}
          <li>
             <a href="{{ path('contenus_learn', {'courses_id':cours.id,'contenu_id':relContent.id,'slug':relContent.slug}) }}">{{ relContent.title }}</a>
          </li>
        {% endfor %}
         </ul>
       </div>

</article>

{% endblock %}
