{% extends 'base.html.twig' %}

{% block title %}Liste des Utilisateurs{% endblock %}

{% block body %}
    <h1>Liste de tous les utilisateurs</h1>
    <section class="user">
        <table class="w-100" cellpadding="10">
            <thead class="table-info">
                <tr>
                    <td>Nom</td>
                    <td>Prénom</td>
                    <td>Rôle</td>
                    <td>Voir</td>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr style="border:1px solid #ccc">
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.roles[0] }}</td>
                        <td><a class="btn btn-info" href="{{ path('user_show', {id:user.id}) }}">Voir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p class="mt-4"><a class="btn btn-danger" href="{{ path('user_create')}}">Ajouter un utilisateur</a></p>
    </section>
{% endblock %}
